body{

background:#111;

color:white;

font-family:Arial;

text-align:center;

padding-top:150px;

}

h1{

font-size:64px;

margin-bottom:10px;

letter-spacing:8px;

}

p{

font-size:24px;

color:#d0d0d0;

}